{{!< default}}

<main class="main">
  <section class="p-outer no-margin">
    <div class="p-inner p-hero">
      <div class="p-hero-text-container">
        <h1>Mastering Day Trading with a Small Account</h1>
        <p>Follow my day trading journey with a small account. Discover
          strategies, daily recaps, tools, and insights as I aim for financial
          freedom. Let's trade tiny and dream big!</p>
      </div>
      <div class="p-hero-buttons">
        <button data-portal="signup">Subscribe</button>
      </div>
    </div>
  </section>

  <section class="p-outer no-margin no-padding-bottom">
    <section class="p-inner">
        <header class="gh-article-header">
          <div class="gh-article-meta">
              <span class="gh-article-label">Featured posts</span>
          </div>
        </header>
        <div class="p-posts-grid">
          {{! Use the get helper to fetch posts }}
          {{#get "posts" filter='featured:true' limit="3" include="tags,authors"}}
              {{> home-posts}}
          {{/get}}
        </div>
    </section>

    <section class="p-inner">
      <hr class="gh-divider extended-divider">
    </section>

    <section class="p-inner">
        <header class="gh-article-header">
          <div class="gh-article-meta">
              <span class="gh-article-label">Latest posts</span>
          </div>
        </header>
        <div class="p-posts-grid">
          {{! Use the get helper to fetch posts }}
          {{#get "posts" limit="3" include="tags,authors"}}
              {{> home-posts}}
          {{/get}}
        </div>

        <hr class="gh-divider extended-divider">

        <nav class="gh-navigation gh-navigation-home">
            <a class="gh-navigation-middle" href="/archive"><span>Browse</span> all posts</a>
        </nav>
    </section>
  </section>

</main>
