{{!< default}}

{{#tag}}

<main id="gh-main" class="gh-main">
<article class="gh-article post no-image">
    <header class="gh-article-header gh-canvas">
        <h1 class="gh-article-title">{{name}}</h1>
    </header>

    {{#if description}}
    <section class="gh-content gh-canvas">
        <p>
            {{description}}
        </p>
    </section>
    {{/if}}

    <div class="gh-canvas">
        <hr class="gh-divider extended-divider-tag">
        <div class="gh-feed">
            {{#get "posts" filter="tags:{{slug}}" limit="all"}}
                {{#foreach posts}}
                    {{> loop}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>


</article>
</main>

{{/tag}}
