/* Define the size of the sections */
.p-outer {
  padding: 4vmin max(4vmin, 20px);
  margin-bottom: 30px;
}

.p-outer:first-of-type {
  background-color: rgb(
    55 99 255 / 0.06
  ); /* Light background color of hero section */
}

.p-inner {
  max-width: 768px; /* Defines the max width of your content */
  margin-inline: auto; /* Centers the content */
}

/* Hero section */
.p-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2vmin;
  text-align: center;
}

.p-hero h1 {
  text-transform: uppercase;
}

.p-hero p {
  font-size: 24px;
  line-height: 1.5;
}

.p-hero p + p {
  margin-top: 1.6rem;
}

.p-hero-buttons {
  display: flex;
  justify-content: center;
}

.p-hero-buttons button,
.p-hero-buttons a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.005em;
  background-color: var(--ghost-accent-color);
  border: 3px solid var(--ghost-accent-color);
  border-radius: 30px;
}

.p-hero-buttons a {
  color: var(--ghost-accent-color);
  background-color: transparent;
  border: 3px solid;
  transition: all 0.2s;
}

.p-hero-buttons a:hover {
  color: #fff;
  background-color: var(--ghost-accent-color);
  border-color: var(--ghost-accent-color);
}

.p-hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Change layout at larger viewport sizes */
@media (min-width: 768px) {
  .p-hero {
    grid-template-columns: 1fr; /* Hero section has 2 columns */
  }
}
