/* Define the size of the sections */
.p-outer {
  padding: 4vmin max(4vmin, 20px);
  margin-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.p-outer:first-of-type {
  background-color: var(--color-lighter-gray);
}

.p-inner {
  max-width: 768px; /* Defines the max width of your content */
  margin-inline: auto; /* Centers the content */
}

/* Hero section */
.p-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2vmin;
  text-align: center;
}

.p-hero h1 {
  text-transform: uppercase;
}

.p-hero p {
  font-size: 24px;
  line-height: 1.5;
}

.p-hero p + p {
  margin-top: 1.6rem;
}

.p-hero-buttons {
  display: flex;
  justify-content: center;
}

.p-hero-buttons button,
.p-hero-buttons a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.005em;
  background-color: var(--ghost-accent-color);
  border: 3px solid var(--ghost-accent-color);
  border-radius: 30px;
  cursor: pointer;
}

.p-hero-buttons a {
  color: var(--ghost-accent-color);
  background-color: transparent;
  border: 3px solid;
  transition: all 0.2s;
}

.p-hero-buttons a:hover {
  color: #fff;
  background-color: var(--ghost-accent-color);
  border-color: var(--ghost-accent-color);
}

.p-hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Posts */
.p-post-container {
  margin-block: 10.2vmin;
  margin-inline: auto;
}

.p-post-container h2 {
  text-transform: uppercase;
}

.p-posts-grid-large {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(600px, 1fr)
  ); /* Define a post grid, where cards can be minimum 200px and maximum the size of the column */
  gap: 4vmin;
}

.p-posts-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Define a post grid, where cards can be minimum 200px and maximum the size of the column */
  gap: 4vmin;
}

.p-post-card img {
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16 / 9; /* All images will have an HD image ratio */
  object-fit: cover;
}

.p-post-card h3 {
  padding-inline: 10px;
  margin-block: 10px 0;
}

.p-post-card a:hover {
  color: var(--ghost-accent-color);
}

.gh-home-excerpt {
  margin-top: 1rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gh-card-title-home {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gh-text-separator {
  margin-right: 0.75rem;
}

.gh-meta-expansion {
  margin-top: 1.6rem;
}

.gh-article-meta-container a,
.gh-meta-expansion a {
  color: var(--color-secondary-text);
}

.gh-article-meta-container {
  display: flex;
}

.gh-meta-expansion a:first-child {
  display: flex;
  pointer-events: none;
}

.gh-article-meta-container time,
.gh-meta-expansion time {
  margin-right: 0.75rem;
}

.gh-navigation-home {
  padding-top: 0 !important;
}

.gh-tags {
  display: inline-flex;
  padding: 2px 8px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.005em;
  background-color: var(--ghost-accent-color);
  border-radius: 30px;
  cursor: pointer;
}

.gh-tags a {
  color: #fff;
}

.gh-foot-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Change layout at larger viewport sizes */
@media (min-width: 768px) {
  .p-hero {
    grid-template-columns: 1fr; /* Hero section has 2 columns */
  }
}
